body {
  background: peachpuff;
}
body {
  background: peachpuff;

}

.second-container{
  display: flex;
  justify-content: space-evenly
}

.third-container{
  display: flex;
   justify-content: space-evenly
}

.a{
  display: flex;
  justify-content: center;
  border: 1px solid
}

.b{
  display: flex;
  justify-content: center;
  border: 1px solid
}

.c{
  display: flex;
  justify-content: center;
  border: 1px solid
}

.d{
  display: flex;
  justify-content: center;
  border: 1px solid
}

.e{
  display: flex;
  justify-content: center;
  border: 1px solid
}

.f{
  display: flex;
  justify-content: center;
  border: 1px solid
}

.g{
  display: flex;
  justify-content: center;
  border: 1px solid
}

.h{
  display: flex;
  justify-content: center;
  border: 1px solid
