body {
  background: papayawhip;
}
.container{


}

.child-container{
  display:flex;
  justify-content:space-evenly
}


.a{
  display: flex;
  justify-content: center;
  border: 1px solid 
  
}

.b{
  display: flex;
  justify-content: center;
}

.c{
  border: 1px solid
}

.d{
  border: 1px solid
}

.e{
  border: 1px solid
}

.f{
  display: flex;
  justify-content: center;
  border: 1px solid
}

@media (min-width: 600px)